/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body{
  /* Background pattern from Subtle Patterns */
  background-image: url('../img/husk.png');
}
#root{
  min-height: 100%;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}

.app-logo{
    font-size: 27px;
}

#auth{
  height: 70px;
  background: #fff;
}


.linkSelector{
  min-height: 62px;
  padding-top: 19px;
}
.headerLinks{
  margin-top:20px;
}

.headerLinks a{
  font-size:20px;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}
.footer{
  height: 50px;
  background-color: #6C6C6C;
}
.mainTextArea{
  height: 250px;
}
.contentWrap{
  margin-top: 50px;
  height: 50px;
}
.footerDate {
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}

.cardsRow, .authRow{
  margin-top:60px;
}

.loader {
  display:inline-block;
  position:relative;
  top: 6px;
  left:9px;
  border: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card, .userWrap{
  margin-top: 20px;
  border: 2px solid #a6a6a6;
  padding: 45px;
  padding-right: 80px;
  background-color: #f4f4f4;
}

.userWrap{
  height:auto;
  padding-top: 20px;
}

.updateUserInfoButton{
  border: 1px solid #ccc;
  border-left: none;
}
.updateUserInfoButton.edit{
  background: #f4f4f4;
}

.updateUserInfoButton.edit:hover{
  background-color: #e1dfe0;
}

.userWrap form .form-group{
  margin-top: 20px;
}
.card h4{
  font-size: 23px;
}
.card .cardMainText{
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.45;
}

.deleteCard{
  font-size: 45px;
  position: absolute;
  right: 8px;
  top: -2px;
}

.exitBtn{
  position: absolute;
  right: 10px;
  top: 10px;
}

a.storiesLink{
  border-right:0;

}
.storiesLink{
  background-color: #fff;
  border: 1px solid #ddd;
}
.storiesLink:hover{
  background-color: #fff;
}